[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MapperAlgo"]
	path = MapperAlgo
	url = https://github.com/tda-r/mapperalgo
[submodule "SimplicialComplex"]
	path = SimplicialComplex
	url = https://github.com/tda-r/simplicialcomplex
